{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="shadow-lg">
        <div class="px-4 mx-auto">
            <div class="flex justify-between">
                <div>
                    <a class="flex" href="">
                        <img class="h-8 w-8 mr-2" src="{% static 'images/anvil.png' %}" alt="">
                        <span class="font-semibold text-lg text-gray-500">Photo App</span>
                    </a>
                </div>
                <div class="space-x-1">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'users:logout' %}" class="py-4 px-2 text-gray-500 font-semibold">Logout</a>
                    {% else %}
                        <a href="{% url 'users:login' %}" class="py-4 px-2 text-gray-500 font-semibold">Login</a>
                    {% endif %}
                    <a href="" class="py-4 px-2 text-gray-500 font-semibold">Link 3</a>
                </div>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>